*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 16px;
    background-color: #182c61;
    color: #ecf0f1;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}

header nav li a{
    color: #ecf0f1;
    text-decoration: none;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

.brands-list img{
    height: 24px;;

}
.brands-list li{
    display: inline;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;

}
section h2{
    margin-bottom: 16px;
}

section p{
    margin-bottom: 8px;
}
.store-front{
    margin-right: 32px;
}